// Place all the styles related to the spamdays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  body {
    font-family: sans-serif;
  }

  h1, .calendar-header {
    font-size: 20pt;
  }

  .calendar-header {
    text-align: center;
  }

  .calendar-header span {
    padding: 35px;
  }

  .calendar-header a {
    font-size: 200%;
    text-decoration: none;
  }

  .day-details {
    font-family: sans-serif;
    background-color: #ccc;
    width: 40%;
    padding: 10px;
  }

  .raw-output {
    font-family: sans-serif;
    width: 50%;
    background-color: #f1f1f1;
    padding: 50px;
  }

  .raw-output a, h1 a {
    text-decoration: none;
  }
  .raw-output a:link {
    color: black;
  }

  a.deleted-book {
    font-size: 30%;
  }

  a.book-link {
    font-style: italic;
    font-size: 80%;
  }

  a.person:link {
    font-size: 150%;
    color: #400;
  }

  .admin a {
    text-decoration: none;
    font-variant: small-caps;
    background-color: IndianRed;
    color: black;
  }

  table {
    width:50%; 
    margin-left:25%; 
    margin-right:25%;
  }

  table, th, td {
//     border: 1px solid black;
  }

  td {
    width: 3em;
    height: 3em;
    text-align: center;
    font-family: sans-serif;
  }

  td.status-unknown {
    background-color: lightgray;
  }

  td.status-spammed {
    background-color: IndianRed;
  }

  td.status-clear {
    background-color: lightgreen;
  }

  td.today {
    background-color: gray; 
  }

  td.future {
    background-color: #eee;
  }

  td.empty {
    background-color: white;
  }

  .date, td a {
    font-size: 22pt;
    text-decoration: none;
  }
